@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-zoom {
    animation: zoom 0.3s ease-out;
  }

  @keyframes zoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
}
