@tailwind base;
@tailwind components;
@tailwind utilities;

.anchor-target::before {
  content: "";
  display: block;
  height: 80px; /* Or whatever your header's height is */
  margin: -80px 0 0; /* Same as height */
  visibility: hidden;
  pointer-events: none;
}
