/* components/MapComponent.module.css */

.container {
  position: relative;
  width: 1232px;
  height: 768px;
  margin: auto;
  /* background-image: url("/public/reach.jpeg");  */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
}

.smallContainer {
  height: 30px;
  background-color: #81a263;
  z-index: 1;
  border: 2px solid black;
  position: relative; /* Ensure pop-up position is relative to the container */
  opacity: 0; /* Initially invisible */
  transition: opacity 0.5s ease-in-out; /* Smooth transition */
}

.one {
  width: 150px;
  position: absolute;
  margin-top: 340px;
  margin-left: 520px;
}

.two {
  width: 70px;
  position: absolute;
  margin-left: 460px;
  margin-top: 250px;
}

/* Pop-up styles */
.popup {
  border-radius: 10px;
  display: none;
  position: absolute;
  background-color: #81a263;
  padding: 10px;
  border: 1px solid black;
  z-index: 2; /* Ensure pop-up is above the purple container */
}

/* Show pop-up on hover */
.smallContainer:hover .popup {
  display: block;
  height: 500px;
  width: 500px;
}

/* Show purple color when hovering */
.smallContainer:hover {
  opacity: 1; /* Make purple color visible on hover */
}
